# IEEE How-To: Python
Python is one of the hottest programming languages. It is high-level programming language used for general-purpose software engineering, used in in scripts, server logic, data science, and even in AI. Learning Python is an important skill to learn in today's increasingly digitized world. Come to the IEEE "How-To:Python" where we go over the basics of Python in a hands-on interactive session. From learning the basic core syntax to fundamental control structures, kick start your Python journey at this session. 


## Code Components

- "Hello World"
- Python Variables and Type
- Operators
- Lists
- Conditions
- Control Structures
- Functions
- Classes

## "Hello World"

In [1]:
print("Hello World")

Hello World

## Python Variables and Type
- integers
- floats
- strings

In [72]:
#Setting a variable to an integer
test_int_1 = 5
print(test_int_1)

5

In [73]:
#Setting a variable to a float
test_float_1 = 33.67952
print(test_float_1)

33.67952

In [74]:
#Setting a variable to a string
test_string_1 = "Welcome to IEEE"
print(test_string_1)

Welcome to IEEE

In [20]:
#Multi Variable Initalization
one, two = 1,2
pi, cheese = 3.1416, "cheese"
print(one,two,pi,cheese)

1 2 3.1416 cheese

In [75]:
#Converting Float to Integer
test_int_2 = 15
test_float_2 = float(test_int_2)
print("Test Integer: ",test_int_2 )
print("Test Float: ",test_float_2)

Test Integer:  15
Test Float:  15.0

In [10]:
#Converting Integer to Float
test_float_3 = 33.567
test_int_3 = int(test_float_3)
print("Test Integer: ",test_int_3 )
print("Test Float: ",test_float_3)

Test Integer:  33
Test Float:  33.567

In [22]:
#Converting Integer,Float to String
test_int_4 = 10
test_float_4 = 10.057
test_string_1 = str(test_float_4)
print("Test Integer: ",test_int_4 )
print("Test Float: ",test_float_4 )
print("Test String: ",test_string_1)

Test Integer:  10
Test Float:  10.057
Test String:  10.057

In [25]:
#Converting String to Integer,Float
test_string_g = "3"
test_int_5 = int(test_string_pi)
test_float_5 = float(test_string_pi)
test_string_1 = str(test_float_4)

print("Test Integer: ",test_int_5 )
print("Test Float: ",test_float_5 )
print("Test String: ",test_string_g)

Test Integer:  3
Test Float:  3.0
Test String:  3

In [ ]:
#Converting String to Integer,Float
test_string_g = "3.1415"
test_int_5 = int(test_string_pi)
test_float_5 = float(test_string_pi)
test_string_1 = str(test_float_4)

print("Test Integer: ",test_int_5 )
print("Test Float: ",test_float_5 )
print("Test String: ",test_string_g)

In [13]:
#Adding Integers
one = 1
two = 2
three = one + two 
print("The Value of Three is: ", three)

The Value of Three is:  3

In [14]:
#Adding Floats
val1 = 1153.484856
val2 = 3.1453486
val3 = val1 + val2 
print("The Value of Val3 is: ", val3)

The Value of Val3 is:  1156.6302046

In [16]:
#Adding Floats and Integers
one = 1
val2 = 3.1453486
val3 = one + val2 
print("Type Value of Val3 is: ", val3)

Type Value of Val3 is:  4.1453486

In [17]:
#Adding Strings
val1 = "Hello "
val2 = "World"
val3 = val1 + val2
print("Type Value of Val3 is: ", val3)

Type Value of Val3 is:  Hello World

In [ ]:
#Adding Strings, Integers and Floats
val1 = 1
val2 = 3.45443
val3 = "Hello World"
print("Type Value of is: ", val3+val2+val1)

In [76]:
#%s - String (or any object with a string representation, like numbers)
#%d - Integers
#%f - Floating point numbers
val1 = 1
val2 = 3.45443
val3 = "Hello World"
super_string = "%s, %s, %s" % (val1, val2, val3)
print(super_string)

1, 3.45443, Hello World

## Operators

In [37]:
#Addition
a = 5
b = 13
print("A+B = ", a+b)
print("B+A = ", b+a)

A+B =  18
B+A =  18

In [42]:
#Subtraction
a = 17
b = 99
print("A-B = ", a-b)
print("B-A = ", b-a)

A-B =  -82
B-A =  82

In [39]:
#Integer Division 
a = 7
b = 3
print("A//B = ", a//b)
print("B//A = ", b//a)

A//B =  2
B//A =  0

In [40]:
#Float Division
a = 7
b = 3
print("A/B = ", a/b)
print("B/A = ", b/a)

A/B =  2.3333333333333335
B/A =  0.42857142857142855

In [43]:
#Multiplication 
a = 15
b = 13
print("A*B = ", a*b)
print("B*A = ", b*a)

A*B =  195
B*A =  195

In [44]:
#Modulous
a = 87
b = 42
c = 7
print("A%C = ", a%c)
print("B%A = ", b%a)
print("B%C = ", b%c)

A%C =  3
B%A =  42
B%C =  0

In [46]:
#Exponents
a = 74
b = 3
print("A**B = ", a**b)
print("B**A = ", b**a)

A**B =  405224
B**A =  202755595904452569706561330872953769

## Lists

In [65]:
#Initializing
array = []
print("Array: ", array)
array = [15,3]
print("Array: ", array)

Array:  []
Array:  [15, 3]

In [66]:
#Appending Arrays
array.append(78)
print("Array: ", array)

Array:  [15, 3, 78]

In [67]:
#Removing Items via Pop
array.pop()
print("Array: ", array)

Array:  [15, 3]

In [68]:
#Removing Items via "Remove"
array.remove(15)
print("Array: ", array)

Array:  [3]

In [69]:
#Removing Items via "Del"
del array[0]
print("Array: ", array)

Array:  []

In [77]:
#Properities
array = [5,6,5,16, 5,3,8,9]

print("Array: ", array)
print("Length of Arrays: ", len(array))
print("Array @ 0: ", array[0])
print("Array @ 1: ", array[1])
print("Array @ 2: ", array[2])
print("Array @ 3: ", array[3])
print("Array @ 4: ", array[4])
print("Slice of Array: ", array[0:5])

Array:  [5, 6, 5, 16, 5, 3, 8, 9]
Length of Arrays:  8
Array @ 0:  5
Array @ 1:  6
Array @ 2:  5
Array @ 3:  16
Array @ 4:  5
Slice of Array:  [5, 6, 5, 16, 5]

## Conditions

In [87]:
#True Condition
zero = 0
print("Is Zero = 0 ::", zero == 0)
print("Is Zero = Zero ::",zero == zero)
print("Is True ::",True)
print("Is Zero nothing ::",zero is not None)

Is Zero = 0 :: True
Is Zero = Zero :: True
Is True :: True
Is Zero nothing :: True

In [88]:
#False Condition
zero = 0
print("Is Zero = 1 ::", zero == 1)
print("Is Zero = Zero ::",zero != zero)
print("Is False ::",False)
print("Is Zero nothing ::",zero is None)

Is Zero = 1 :: False
Is Zero = Zero :: False
Is False :: False
Is Zero nothing :: False

In [91]:
#Multi Conditional
print("One = 1 and One = 0 ::", 1 == 1 and 1 == 0)
print("One = 1 or  One = 0 ::", 1 == 1 or 1 == 0)

One = 1 and One = 0 :: False
One = 1 or  One = 0 :: True

## Control Structures

In [94]:
#If Statement
statement = True

if(statement):
    print("I am True")
    
print("I am Done")

I am True
I am Done

In [96]:
#If Else Statement
statement = False

if(statement):
    print("statement is True")
else:
    print("statement is False")
    
print("I am Done")

statement is False
I am Done

In [100]:
#If Elif Else Statement
statement = False
change = True

if(statement):
    print("statement is True")
elif(change):
    print("statement is False but I will change it")
    statement = change
else:
    print("statement is False")
    
print("I am Done")
print("Statement is :", statement)

statement is False but I will change it
I am Done
Statement is : True

In [102]:
#While counter
i = 0
while(i < 5):
    i = i +1
    print(i)

1
2
3
4
5

In [104]:
i = 0
j = 0
MAX =50
while(True):
    if(i%2 == 0):
        j +=1
        print(i,j)
    if(j == 10):
        print("There is 10 even pairs")
        break
    if(i ==MAX):
        print("i hit its max")
        break
    i+=1
print("I am Done")

0 1
2 2
4 3
6 4
8 5
10 6
12 7
14 8
16 9
18 10
There is 10 even pairs
I am Done

In [110]:
#For range  
array = []
for i in range(5): 
    array.append(i)
    print(i)

0
1
2
3
4

In [112]:
#For array  
print("Array: ", array)

for i in array:    
    print(i)

Array:  [0, 1, 2, 3, 4]
0
1
2
3
4

## Functions

In [117]:
def add(a, b):
    return a + b

def divide(a, b):
    return a/b

def multiply(a, b):
    return a*b

def subtract(a, b):
    return a-b


def doNothing(statement = "hi"):
    i = 0
    while(True):
        i +=1
        print(statement)
        if i == 30:
            break

In [118]:
a = 10
b = 15
print("Addition", add(a, b))
print("Division", divide(a, b))
print("Multiply", multiply(a, b))
print("Subtract", subtract(a, b))

Addition 25
Division 0.6666666666666666
Multiply 150
Subtract -5

In [119]:
doNothing()

hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi

## Classes

In [121]:
class Calculator:
    a = None
    b = None
    
    def __init__(self, a, b, brand= "Russel Mendes"):
        self.a = a
        self.b = b
        self.brand = brand
        
    def add(self):
        return self.a + self.b

    def divide(self):
        return self.a/self.b

    def multiply(self):
        return self.a*self.b

    def subtract(self):
        return self.a-self.b

In [124]:
a, b = 10 , 10
x = Calculator(a,b)
print("X Addition", x.add())
print("X Division", x.divide())
print("X Multiply", x.multiply())
print("X Subtract", x.subtract())

Addition 20
Division 1.0
Multiply 100
Subtract 0

In [125]:
a, b = 35, 16
y = Calculator(a,b)
print("Y Addition", y.add())
print("Y Division", y.divide())
print("Y Multiply", y.multiply())
print("Y Subtract", y.subtract())

Y Addition 51
Y Division 2.1875
Y Multiply 560
Y Subtract 19

In [126]:
#They each have their own copy of information
print("X Addition", x.add())
print("X Division", x.divide())
print("X Multiply", x.multiply())
print("X Subtract", x.subtract())

X Addition 20
X Division 1.0
X Multiply 100
X Subtract 0